<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>文档作业</title>
    <!-- Import google fonts - Heading first/ text second -->
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico" type="image/x-icon" />
    <!-- Css files -->
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <style>
        @import url("https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css");

        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #3c1dca;
        }

        .noline:hover {
            text-decoration: none;
        }

        .upload-demo input {
            visibility: hidden;
        }
    </style>

</head>
</head>

<body>
    <div id="app">
        <el-container style=" border: 1px solid #eee">
            <el-header style="font-size: 12px">
                <el-row :gutter="20">
                    <el-col :span="22">
                        <div style="text-align: center;color: #77837d;">
                            <h3><i class="el-icon-eleme"></i> {{name}}</h3>
                        </div>
                    </el-col>
                    <el-col :span="2">
                        <div>
                            <el-dropdown>
                                <span style="font-size: 20px;margin-left: 60px;"><i
                                        class="el-icon-user"></i>{{user}}</span>
                                <el-dropdown-menu slot="dropdown">
                                    <a v-for="item in userOptions.order" :href="item.href" class="noline">
                                        <el-dropdown-item><i :class="item.icon"></i>{{item.title}}</el-dropdown-item>
                                    </a>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </div>
                    </el-col>
                </el-row>

            </el-header>
        </el-container>
        <el-container style="height: 800px; border: 1px solid #eee">
            <el-aside width="300px" style="background-color: rgb(238, 241, 246)">
                <img src="https://edu-image.nosdn.127.net/E60240E3F15C33023E8BE744985C91D3.jpg?imageView&thumbnail=510y288&quality=100"
                    width="296">
                <el-menu :default-openeds="['']">
                    <el-submenu v-for="(list,i) in course.infoList" :index="i.toString()">
                        <template slot="title"><i :class="list.icon"></i>{{list.title}}</template>
                        <el-menu-item-group v-for="(item,index) in list.children">
                            <a class="noline" :href="item.href">
                                <el-menu-item :index="item.title">{{item.title}}</el-menu-item>
                            </a>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-container>
                <el-header style=" background-color: rgb(240, 241, 243); font-size: 18px;">
                    <span><i class="el-icon-edit"></i> 文档作业</span>
                </el-header>
                <hr>
                <el-main>
                    <el-table :data="docWorks" style="width: 100%" :default-sort="{prop: 'date', order: 'descending'}">
                        <el-table-column prop="name" label="名称" sortable width="180">
                        </el-table-column>
                        <el-table-column prop="date" label="截止日期" sortable>
                        </el-table-column>
                        <el-table-column label="提交日期">
                            <template slot-scope="scope">
                                <span v-for="f in scope.row.file_url">{{f.name}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="提交文件">
                            <template slot-scope="scope">
                                <span v-for="f in  scope.row.file_url">{{f.name}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column sortable label="状态">
                            <template slot-scope="scope">
                                <el-tag type="success" v-if="scope.row.state">已提交</el-tag>
                                <el-tag type="danger" v-else>未提交</el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button type="button" @click=""><span class="el-icon-eleme"></span> 查看</el-button>
                                <el-button type="button" @click="editDocWork(scope.row)"><span
                                        class="el-icon-edit-outline"></span> 提交
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-main>

                <el-dialog title="作业提交" :visible.sync="dialogFormVisible7" width="30%">
                    <el-form :model="docWork" label-width="80px">
                        <el-form-item label="文件名">
                            <el-input v-model="docWork.file_name"></el-input>
                        </el-form-item>

                        <el-form-item label="文件提交">


                            <div style="float:left;padding:16px 32px;">


                                <el-upload class="upload-demo" drag action="http://127.0.0.1:8081/upload"
                                    name="uploadFile" :on-remove="handleRemove" :before-remove="beforeRemove"
                                    :on-success="handleAvatarSuccess" :file-list="docWork.file_url">
                                    <i class="el-icon-upload"></i>
                                    <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                                    <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div>
                                </el-upload>
                            </div>

                        </el-form-item>

                    </el-form>
                    <span slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible7 = false">取 消</el-button>
                        <el-button type="primary" @click="submit(docWork)">确 定</el-button>
                    </span>
                </el-dialog>
            </el-container>
        </el-container>
    </div>
    <script src="../assets/js/courseDatas/courseInfo.js"></script>
    <script>
        axios.get('http://127.0.0.1:8081/getfilework', {
            params: {
                cid: JSON.parse(window.localStorage.getItem('_course')).id
            }
        })
            .then(function (response) {
                app.docWorks = response.data;
                app.docWorks.forEach(e => {
                    e.file_url = JSON.parse(e.file_url);
                });
            })
            .catch(function (error) {
                console.log(error);
            });
        var  maxId = 0;
        axios.get('http://127.0.0.1:8081/submit')
            .then(function (response) {
                maxId = response.data.page.totalElements;
            })
            .catch(function (error) {
                console.log(error);
            });

    </script>
</body>

</html>