<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
	
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->
    
	<!-- banner slider css -->
	<link href="css/minimal-slider.css" rel='stylesheet' type='text/css' />
	<!-- //banner slider css -->
	
	<!-- css files -->
	<link rel="stylesheet" href="css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
    <link href="css/style6.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" /> <!-- Style-CSS --> 
	<link rel="stylesheet" href="css/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
	<link rel="stylesheet" href="css/font-awesome.min.css"> <!-- Font-Awesome-Icons-CSS -->
	<link rel="stylesheet" href="css/climacons-font.css"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>	
	<!--web font
	<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	-->
	<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
	<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<!-- 引入组件库 -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<!-- header -->
<div class="header-top">
	<header>
		<div class="top-head ml-lg-auto text-center">
			<div class="row mr-0">

				<div class="col-lg-4">
				</div>
				<div class="col-md-3 col-4 sign-btn">
					<a href="login.html" >
						<i class="fas fa-lock"></i> 登录</a>
				</div>
				<div class="col-md-3 col-4 sign-btn">
					<a href="regitser.html" >
						<i class="fas fa-user"></i> 注册</a>
				</div>
				<div class="search col-md-2 col-4">
					<div class="mobile-nav-button">
						<button id="trigger-overlay" type="button">
							<i class="fas fa-search"></i>
						</button>
					</div>
					<!-- open/close -->
					<div class="overlay overlay-door">
						<button type="button" class="overlay-close">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
						<form action="#" method="post" class="d-flex">
							<input class="form-control" type="search" placeholder="Search here..." required="">
							<button type="submit" class="btn btn-primary submit">
								<i class="fas fa-search"></i>
							</button>
						</form>
					</div>
					<!-- open/close -->
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="logo">
				<h1>
					<a class="navbar-brand" href="index.html">
						<i class="fab fa-cloudversify"></i>Lumnca</a>
				</h1>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">
					<i class="fas fa-bars"></i>
				</span>

			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-lg-auto text-center">
					<li class="nav-item active">
						<a class="nav-link" href="index.html">主页
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="features.html">服务</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							说明
							<i class="fas fa-angle-down"></i>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="about.html" title="">关于我们</a>
							<a class="dropdown-item" href="projects.html" title="">系统使用说明</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="team.html">公司</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							产品
							<i class="fas fa-angle-down"></i>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#"> Default</a>
							<a class="dropdown-item" href="#"> Light Version</a>
							<a class="dropdown-item" href="#"> Dark Version</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="contact.html">联系</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
</div>
<!-- header -->


<!-- 轮播图 -->



<section class="slide-window" id="app1">
	<div class="slide-wrapper" style="width:300%;">
		<div class="slide"  v-for="slide in webNotice" v-bind:class="slide.style">
			<div class="slide-caption text-center">
			   <h2 class="text-uppercase">{{slide.title}}</h2>
			   <p class="my-4">{{slide.info}}</p>
			   <!--图片使用
			   <div class="read">
					<a href="#" data-toggle="modal" data-target="#exampleModalCenter1" role="button">Read More <span class="btn ml-2"><i class="fas fa-arrow-right" aria-hidden="true"></i></span></a>
				</div>	
				-->			
			</div>
		</div>
	</div>
	<div class="slide-controller">
		<div class="slide-control-left">
			<div class="slide-control-line"></div>
			<div class="slide-control-line"></div>
		</div>
		<div class="slide-control-right">
			<div class="slide-control-line"></div>
			<div class="slide-control-line"></div>
		</div>
	</div>
</section>


<!-- 轮播图结束 -->


<!-- 信息说明 -->
<section class="Welcome py-5" id="app2">
	<div class="container py-sm-5">
		<div class="welcome-grids row">
			<div class="col-lg-6 mb-lg-0 mb-5">
				<h3 class="mt-lg-4">{{title}}</h3>
				<p class="my-4">{{paragraph1}}</p>
				<p class="mb-4">{{paragraph2}}</p>
				<div class="read">
					<a href="about.html">Click More <span class="btn ml-2"><i class="fas fa-arrow-right" aria-hidden="true"></i></span></a>
				</div>	
			</div>
			<div class="col-lg-3 col-md-4 col-6 pr-1 welcome-image">
				<img src="images/a1.jpg" class="img-fluid" alt="" />
			</div>	
			<div class="col-lg-3 col-md-4 col-6 pl-1 welcome-image">
				<img src="images/a2.jpg" class="img-fluid" alt="" />
			</div>
		</div>	
	</div>	
</section>

<!-- 信息说明结束 -->

<!-- 平台数据 -->
<section class="Welcome-bottom" id="app3">
	<div class="bs-slider-overlay">
		<div class="container">
			<div class="welcome-bottom-grids row">			
				<!-- Counter -->
				<div class="col-lg-6 p-sm-5 p-4 welcome_left Features-bottom">
					<div class="layer p-sm-5 p-4 welcome_left_inner agile-info">
							<div class="agileits_w3layouts_about_counter_left w3-agile-grid">
								<div class="countericon">
									<span class="fa fa-eye" aria-hidden="true"></span>
									<h3>浏览数</h3>
								</div>
								<div class="counterinfo agile-info">
									<p class="counter">{{browse}}</p> 
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="mt-sm-5 mt-3 agileits_w3layouts_about_counter_left w3-agile-grid">
								<div class="countericon">
									<span class="fa fa-user" aria-hidden="true"></span>
									<h3>用户数</h3>
								</div>
								<div class="counterinfo agile-info">
									<p class="counter">{{user}}</p> 
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="mt-sm-5 mt-3 agileits_w3layouts_about_counter_left w3-agile-grid">
								<div class="countericon">
									<span class="fa fa-thumbs-o-up" aria-hidden="true"></span>
									<h3>好评数</h3>
								</div>
								<div class="counterinfo agile-info">
									<p class="counter">{{praise}}</p>
								</div>
								<div class="clearfix"> </div>
							</div>
					</div>
				</div>
				<!-- //Counter -->
				<div class="col-lg-6 p-sm-5 p-4 mt-lg-5 mt-0 welcome_bottom_right">
					<h3>{{title}}</h3>
					<p class="my-4">{{info}}</p>
					<div class="read">
						<a href="#" data-toggle="modal" data-target="#exampleModalCenter1" role="button">Click More <span class="btn ml-2"><i class="fas fa-arrow-right" aria-hidden="true"></i></span></a>
					</div>
				</div>
			</div>	
		</div>	
	</div>	

</section>
<!-- 用户数据结束 -->



<!-- 功能特色 -->
<section class="features py-5" id="app4">
	<div class="container py-sm-5">
		<div class="heading pb-4">
			<h3 class="heading mb-2 text-center"> <span>功能 </span> 特色 </h3>
			<p class="para mb-5 text-center">系统更新带来的丰富特色</p>
		</div>
		<div class="feature-grids row">
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-sm-5 mt-4" v-for="fun in functions">
				<div class="f1 p-sm-5 p-4">
					<i class="fas fa-arrow-right" aria-hidden="true"></i>
					<h3 class="my-3">{{fun.title}}</h3>
					<p>{{fun.info}}</p>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="js/indexInfo.js"></script>
<!-- 功能特殊结束-->

<!-- 没有启用
<section class="bottom-last">
	<div class="bottom-bg py-5 bs-slider-overlay text-left">
		<div class="container py-md-5">
			<div class="heading pb-4">
				<h3 class="heading mb-2 text-center text-white"> <span>Our </span> Skills </h3>
				<p class="para mb-5 text-center">Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id.</p>
			</div>
			<div class="row grids">
				<div class="col-lg-6">
					<h4 class="title">Proffessional Skills</h4>
					<p class="my-4">Excepteur sint occaecat non proident, sunt in culpa quis. Int Phasellus lacinia id erat eu ullamcorper. 
					Nunc id ipsum eur fringillats, gravida felis vitae. Phasellus lacinia id, sunt in culp quis. Phasellus lacinia. gravida felis vitae. 
					Phasellus lacinia id. sunt inculpa quis. Phasellus lacinia. gravida felis vitae.</p>
					<div class="bnr-button">
						<button type="button" class="btn btn-primary play" data-toggle="modal" data-target="#exampleModal">
							<i class="fas fa-play"></i> 
						</button> <span class="text-white ml-2">Watch Video </span>
					</div>
				</div>
				<div class="col-md-6 mt-lg-0 mt-5">
					<div class="progress-one">
						<h4 class="progress-tittle">Web Design</h4>
						<div class="progress">
							<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
					<div class="progress-one my-4">
						<h4 class="progress-tittle">PHP Development</h4>
						<div class="progress">
							<div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
					<div class="progress-one">
						<h4 class="progress-tittle">Branding</h4>
						<div class="progress">
							<div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
					<div class="progress-one my-4">
						<h4 class="progress-tittle">Marketing</h4>
						<div class="progress">
							<div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
					<div class="progress-one">
						<h4 class="progress-tittle">Web Features</h4>
						<div class="progress">
							<div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
                </div>				
			</div>
		</div>
	</div>
</section>

-->

<!-- team -->
<section id="myteam" class="team py-5">
	<div class="container py-md-5">
		<div class="heading pb-4">
			<h3 class="heading mb-2 text-center"> <span>我们的</span> 团队 </h3>
			<p class="para mb-5 text-center">参与本网站制作人员</p>
		</div>
		<div class="row team-row">
			<div class="col-md-4 col-sm-6 team-wrap">
				<div class="team-member text-center">
					<div class="team-img">
						<img src="images/team1.jpg" alt="">
						<div class="overlay-team">
							<div class="team-details text-center">
								<div class="socials mt-20">
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
									<a href="#">
										<i class="fab fa-google-plus-g"></i>
									</a>
									<a href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<h6 class="team-title">Lumnca</h6>
					<span>Lumnca公司CEO兼董事长</span>
				</div>
			</div>
			<!-- 
					其他人员
			<div class="col-md-4 col-sm-6 team-wrap mt-sm-0 mt-5">
				<div class="team-member text-center">
					<div class="team-img">
						<img src="images/team3.jpg" alt="">
						<div class="overlay-team">
							<div class="team-details text-center">
								<div class="socials mt-20">
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
									<a href="#">
										<i class="fab fa-google-plus-g"></i>
									</a>
									<a href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<h6 class="team-title">Aunto Apu</h6>
					<span>android devloper</span>
				</div>
			</div>
			

			<div class="col-md-4 col-sm-6 team-wrap mt-md-0 mt-5">
				<div class="team-member last text-center">
					<div class="team-img">
						<img src="images/team2.jpg" alt="">
						<div class="overlay-team">
							<div class="team-details text-center">
								<div class="socials mt-20">
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
									<a href="#">
										<i class="fab fa-google-plus-g"></i>
									</a>
									<a href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<h6 class="team-title">Jagir Alam</h6>
					<span>Software engineer </span>
				</div>
			</div>
		</div>
			-->
	</div>
</section>
<!-- //team -->

<!-- 赞助 不启用
<section class="partners bg-light py-5">
	<div class="container">
		<div class="row partner-grids text-center">
			<div class="col-md-2 col-4">
				<div class="brand bg-white">
					<a href="#"><i class="fab fa-angrycreative"></i></a>
				</div>
			</div>
			<div class="col-md-2 col-4">
				<div class="brand bg-white">
					<a href="#"><i class="fab fa-apper"></i></a>
				</div>
			</div>
			<div class="col-md-2 col-4">
				<div class="brand bg-white">
					<a href="#"><i class="fab fa-apple-pay"></i></a>
				</div>
			</div>
			<div class="col-md-2 col-4 mt-md-0 mt-3">
				<div class="brand bg-white">
					<a href="#"><i class="fab fa-aviato"></i></a>
				</div>
			</div>
			<div class="col-md-2 col-4 mt-md-0 mt-3">
				<div class="brand bg-white">
					<a href="#"><i class="fab fa-aws"></i></a>
				</div>
			</div>
			<div class="col-md-2 col-4 mt-md-0 mt-3">
				<div class="brand bg-white">
					<a href="#"><i class="fab fa-amazon-pay"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //brands -->

<!-- footer -->
<footer class="footer py-5">
	<div class="container py-sm-4">
		<div class="row">
			<div class="col-lg-4 col-md-6 footer-top">
				<h3 class="mb-4 pb-3 w3f_title">订阅我们</h3>
				<p>订阅我们的邮件列表，您将始终获得我们的最新消息，优惠和更新。</p>
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Enter your email..." required="">
					<button class="btn1"><i class="fas fa-arrow-right" aria-hidden="true"></i></button>
					<div class="clearfix"> </div>
				</form>
			</div>
			<div class="col-lg-2  col-md-6 footv3-left mt-md-0 mt-5">
				<h3 class="mb-4 pb-3 w3f_title">导航</h3>
				<ul class="list-agileits">
					<li>
						<a href="index.html">
							主页
						</a>
					</li>
					<li class="my-2">
						<a href="features.html">
							服务
						</a>
					</li>
					<li class="mb-2">
						<a href="features.html">
							说明
						</a>
					</li>
					<li>
						<a href="contact.html">
							联系
						</a>
					</li>
					<li class="my-2">
						<a href="about.html">
							关于我们
						</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
				<h3 class="mb-4 pb-3 w3f_title">我们的信息</h3>
				<div class="fv3-contact">
					<span class="fas fa-envelope-open mr-2"></span>
					<p>
						<a href="mailto:example@email.com">lumnca@163.com</a>
					</p>
				</div>
				<div class="fv3-contact my-3">
					<span class="fas fa-phone-volume mr-2"></span>
					<p>13281101201</p>
				</div>
				<div class="fv3-contact">
					<span class="fas fa-home mr-2"></span>
					<p>四川省成都市龙泉驿区
						<br>成龙大道二段1819号</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 footerv2-w3ls mt-lg-0 mt-5">
				<h3 class="mb-4 w3f_title pb-3">获取资源</h3>
				<p>第三方支持</p>
				<ul class="social-iconsv2 agileinfo mt-4">
					<li>
						<a href="#">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fab fa-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //footer bottom -->
</footer>
<!-- //footer -->

<!-- copyright -->
<div class="cpy-right text-center">
	<p>Copyright &copy; 2019.Company name All rights Lumnca <a href="http://www.cssmoban.com/" target="_blank" >Lumnca教育服务平台</a>
	</p>
</div>
<!-- //copyright -->

	<!--model-forms-->
    <!--/Login-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="text-center mb-4">Login Now</h5>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label class="mb-2">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label class="mb-2">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
                            </div>
                            <div class="form-check mb-2">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <button type="submit" class="btn btn-primary submit mb-4">Sign In</button>
                            <p class="text-center pb-4">
                                <a href="#" data-toggle="modal2" data-target="#exampleModalCenter"> Don't have an account?</a>
                            </p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//Login-->
    <!--/Register-->
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="text-center mb-4">Register Now</h5>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label>First name</label>

                                <input type="text" class="form-control" id="validationDefault01" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Last name</label>
                                <input type="text" class="form-control" id="validationDefault02" placeholder="" required="">
                            </div>

                            <div class="form-group">
                                <label class="mb-2">Password</label>
                                <input type="password" class="form-control" id="password1" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" id="password2" placeholder="" required="">
                            </div>

                            <button type="submit" class="btn btn-primary submit mb-4">Register</button>
                            <p class="text-center pb-4">
                                <a href="#">By clicking Register, I agree to your terms</a>
                            </p>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//Register-->
    <!--//model-form-->

	<!-- video Modal Popup -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Introduction Video</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body video">
					<iframe src=""></iframe>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<!-- //video Model Popup -->

	<!-- Vertically centered Modal -->
	<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-capitalize text-center" id="exampleModalLongTitle"><i class="fab fa-cloudversify"></i> Flex Art</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body">
				<img src="images/bg.jpg" class="img-fluid mb-3" alt="Modal Image" />
				Vivamus eget est in odio tempor interdum. Mauris maximus fermentum arcu, ac finibus ante. Sed mattis risus at ipsum elementum,
				ut auctor turpis cursus. Sed sed odio pharetra, aliquet velit cursus, vehicula enim. Mauris porta aliquet magna, eget laoreet ligula.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	  </div>
	</div>
	<!-- //Vertically centered Modal -->

	<!-- js -->
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
	<!-- //js -->
	
	<!-- search overlay -->
    <script src="js/modernizr-2.6.2.min.js"></script> 
	<!-- //search overlay -->
	
	<!--search jQuery-->
    <script src="js/classie-search.js"></script>
    <script src="js/demo1-search.js"></script>
    <!--//search jQuery-->

    <!-- dropdown nav -->
    <script>
        $(document).ready(function() {
            $(".dropdown").hover(
                function() {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function() {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->

	<!-- banner slider js -->
	<script src="js/minimal-slider.js"></script>
	<!-- //banner slider js -->

	<!-- Stats-Number-Scroller-Animation-JavaScript -->
	<script src="js/waypoints.min.js"></script> 
	<script src="js/counterup.min.js"></script> 
	<script>
		jQuery(document).ready(function( $ ) {
			$('.counter').counterUp({
				delay: 100,
				time: 1000
			});
		});
	</script>
	<!-- //Stats-Number-Scroller-Animation-JavaScript -->

	<!-- start-smoth-scrolling -->
	<script src="js/SmoothScroll.min.js"></script>
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<script>
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script>
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->
	<script src="js/index.js"></script>
</body>
</html>