<!DOCTYPE html>
<html>

<head>
    <title>注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/minimal-slider.css" rel='stylesheet' type='text/css' />
    <!-- //banner slider css -->

    <!-- css files -->
    <link rel="stylesheet" href="css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
    <link href="css/style6.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="css/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css"> <!-- Font-Awesome-Icons-CSS -->
    <link rel="stylesheet" href="css/climacons-font.css"> <!-- Font-Awesome-Icons-CSS -->
    <link href="css/style2.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
    <!-- main -->
    <div class="main-w3layouts wrapper" id="app">
        <div class="main-agileinfo">
            <div class="agileits-top">
                <div style="color:#e8f3ec;font-size: 29px;text-align: center;"> 注册账号</div>
                <form>
                    <input class="text" type="text" name="Username" placeholder="账号ID" required="" v-model="id">
                    <input class="text" type="password" name="password" placeholder="密码" required="" v-model="password">
                    <input class="text" type="text" name="password" placeholder="电话" required="" v-model="tel"><br>
                    <el-button type="primary" :loading="yz" @click="reDate">获取验证码</el-button>
                    <span style="color:#ffffff;font-size:18px;">&nbsp;&nbsp;&nbsp;{{info1}} </span>
                    <input class="text" type="text" name="password" placeholder="验证码" required="" v-model="check">
                    <div class="wthree-text">
                        <ul>
                            <li>
                                <label class="anim">
                                    <input type="checkbox" class="checkbox" required="">
                                    <span> 我已同意用户协议</span>
                                </label>
                            </li>
                            <li><a href="#">用户使用须知</a> </li>
                        </ul>
                        <div class="clear"> </div>
                    </div>
                    <button type="button" class="btn btn-info" @click="sumbit()"> &nbsp;注 &nbsp;册 &nbsp; </button>
                    <button type="button" class="btn btn-info" @click="back()"> &nbsp;返回主页&nbsp; </button>
                </form>
            </div>
        </div>
        <!-- //copyright -->
        <ul class="w3lsg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <script>

        var app = new Vue({
            el: '#app',
            data: {
                info1: '',
                date: 6,
                time: null,
                id: '',
                password: '',
                tel: '',
                check: '',
                yz: false
            },
            methods: {
                show: function () {
                    this.date -= 1;
                    this.info1 = '       请在1分钟内完成操作,' + this.date + 's后重新获取验证码';

                    if (this.date <= 0) {
                        this.info1 = '';
                        this.yz = false;
                        clearInterval(this.time);
                        this.date = 60;
                    }
                },
                reDate: function () {
                    this.yz = true;
                    if (this.date >= 0) {
                        this.time = setInterval(this.show, 1000);
                    }
                    axios.post('https://open.ucpaas.com/ol/sms/sendsms', {
                        id : "url参数id的内容等价于 表单的name属性"
                    })
                        .then(function (response) {
                            //响应成功的操作
                           
                        })
                        .catch(function (error) {
                            //响应失败的操作
                          
                        });

                },
                sumbit() {
                    //post请求响应路径 /user 
                    axios.post('http://47.106.254.86:1234/test/class.php', {
                        id: app.id,
                        password: app.password,
                        tel: app.tel,
                    })
                        .then(function (response) {
                            //响应成功的操作
                            console.log(response.data);
                            this.$message({
                                message: '恭喜你，这是一条成功消息',
                                type: 'success'
                            });
                        })
                        .catch(function (error) {
                            //响应失败的操作
                            this.$message.error('请求失败！');
                        });

                },
                back() {
                    window.location.href = "index.html";
                }
            }
        })
    </script>
</body>

</html>