<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>作业和测试</title>
    <!-- Import google fonts - Heading first/ text second -->
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico" type="image/x-icon" />
    <!-- Css files -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <style>
        @import url("https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css");

        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #3c1dca;
        }

        .noline:hover {
            text-decoration: none;
        }
    </style>
</head>
</head>

<body>
    <div id="app">
        <el-container style=" border: 1px solid #eee">
            <el-header style="text-align: right; font-size: 12px">
                <el-row :gutter="20">
                    <el-col :span="22">
                        <div style="text-align: center;color: #77837d;">
                            <h3><i class="el-icon-eleme"></i> {{name}}</h3>
                        </div>
                    </el-col>
                    <el-col :span="2">
                        <div>
                            <el-dropdown>
                                <span style="font-size: 20px;margin-left: 60px;"><i
                                        class="el-icon-user"></i>{{user}}</span>
                                <el-dropdown-menu slot="dropdown">
                                    <a v-for="item in userOptions.order" :href="item.href" class="noline">
                                        <el-dropdown-item><i :class="item.icon"></i>{{item.title}}</el-dropdown-item>
                                    </a>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </div>
                    </el-col>
                </el-row>

            </el-header>
        </el-container>
        <el-container style="height: 800px; border: 1px solid #eee">
            <el-aside width="300px" style="background-color: rgb(238, 241, 246)">
                <img src="https://edu-image.nosdn.127.net/E60240E3F15C33023E8BE744985C91D3.jpg?imageView&thumbnail=510y288&quality=100"
                    width="296">
                <el-menu :default-openeds="['']">
                    <el-submenu v-for="(list,i) in course.infoList" :index="i.toString()">
                        <template slot="title"><i :class="list.icon"></i>{{list.title}}</template>
                        <el-menu-item-group v-for="(item,index) in list.children">
                            <a class="noline" :href="item.href">
                                <el-menu-item :index="item.title">{{item.title}}</el-menu-item>
                            </a>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-container>
                <el-header style=" background-color: rgb(240, 241, 243); font-size: 18px;">
                    <span><i class="el-icon-edit"></i> 测试与作业</span>
                </el-header>
                <hr>
                <el-main>

                    <el-table :data="test" border style="width: 100%">
                        <el-table-column prop="name" label="名称" width="250">
                        </el-table-column>
                        <el-table-column label="起始日期" width="250">
                            <template slot-scope="scope">
                                {{dateFormat(scope.row.start_date,1)}} - {{dateFormat(scope.row.start_date,0)}}
                            </template>
                        </el-table-column>
                        <el-table-column label="结束日期" width="250">
                            <template slot-scope="scope">
                                {{dateFormat(scope.row.end_date,1)}} - {{dateFormat(scope.row.end_date,0)}}
                            </template>
                        </el-table-column>
                        <el-table-column prop="info" label="备注" width="450">
                        </el-table-column>
                        <el-table-column label="状态">
                            <template slot-scope="scope">
                                <el-tag
                                    v-if="scope.row.start_date.getTime() < new Date().getTime() && scope.row.end_date.getTime() > new Date().getTime() "
                                    type="success">可用</el-tag>
                                <el-tag v-else type="danger">不可用</el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作" width="300">
                            <template slot-scope="scope">
                                <el-button type="button" size="small" @click="showWork(scope)"><span
                                        class="el-icon-eleme"></span> 查看</el-button>
                                <el-button type="button" size="small" @click="editWork(scope)"><span
                                        class="el-icon-edit-outline"></span> 编辑</el-button>
                                <el-button type="button" size="small" @click="deleteWork(scope.$index);"><span
                                        class="el-icon-delete"></span> 删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>


                    <el-dialog title="题目修改" :visible.sync="dialogFormVisible5">
                        <el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="100px"
                            class="demo-ruleForm">

                            <el-form-item label="作业名称" prop="pass">
                                <el-input type="text" v-model="ruleForm2.name"></el-input>
                            </el-form-item>
                            <el-form-item label="起始时间">
                                <el-col :span="11">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm2.start_date"
                                        style="width: 100%;"></el-date-picker>
                                </el-col>
                                <el-col class="line" :span="2" style="text-align:center">-------
                                </el-col>
                                <el-col :span="11">
                                    <el-time-picker placeholder="选择时间" v-model="ruleForm2.start_date"
                                        style="width: 100%;"></el-time-picker>
                                </el-col>
                            </el-form-item>
                            <el-form-item label="结束时间">
                                <el-col :span="11">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm2.end_date"
                                        style="width: 100%;"></el-date-picker>
                                </el-col>
                                <el-col class="line" :span="2" style="text-align:center">--------
                                </el-col>
                                <el-col :span="11">
                                    <el-time-picker placeholder="选择时间" v-model="ruleForm2.end_date"
                                        style="width: 100%;"></el-time-picker>
                                </el-col>
                            </el-form-item>

                            <el-form-item label="备注" prop="info">
                                <el-input v-model.number="ruleForm2.info"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="updateWorkInfo(ruleForm2)">提交</el-button>
                                <el-button @click="resetForm2('ruleForm2')">重置</el-button>
                            </el-form-item>
                        </el-form>
                    </el-dialog>


                    <div style="margin-top:20px;">
                        <el-button type="button" size="small" @click="addTest()"><span class="el-icon-plus"></span> 添加作业
                        </el-button>
                    </div>

                </el-main>
            </el-container>
        </el-container>
    </div>
    <script src="../assets/js/courseDatas/teacourse.js"></script>
    <script>
        let max_Id = 0;
        axios.get('http://127.0.0.1:8081/getworks', {
            params: {
                cid: JSON.parse(window.localStorage.getItem("_course")).id
            }
        })
            .then(function (response) {
                app.test = response.data;
                app.test.forEach(e=> {
                    e.start_date = new Date(e.start_date);
                    e.end_date = new Date(e.end_date);
                });
            })
            .catch(function (error) {
                alert("获取信息失败!");
            });

            axios.get('http://127.0.0.1:8081/works')
            .then(function (response) {
                max_Id = response.data.page.totalElements;
            })
            .catch(function (error) {
               
            });
    </script>
</body>

</html>