<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>作业和测试</title>
    <!-- Import google fonts - Heading first/ text second -->
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico" type="image/x-icon" />
    <!-- Css files -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/jquery.mmenu.css" rel="stylesheet">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <link href="../assets/css/style.min.css" rel="stylesheet">
    <link href="../assets/css/add-ons.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <style>
        @import url("https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css");

        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #3c1dca;
        }

        .noline:hover {
            text-decoration: none;
        }
    </style>
</head>
</head>

<body>
    <div id="app">
        <el-container style=" border: 1px solid #eee">
            <el-header style="text-align: right; font-size: 12px">
                <el-dropdown>
                    <span style="margin-right: 15px;font-size: 20px;"><i class="el-icon-user"></i> {{user}}</span>

                    <el-dropdown-menu slot="dropdown">
                        <a v-for="item in userOptions.order" :href="item.href" class="noline">
                            <el-dropdown-item><i :class="item.icon"></i>{{item.title}}</el-dropdown-item>
                        </a>
                    </el-dropdown-menu>
                </el-dropdown>

            </el-header>
        </el-container>
        <el-container style="height: 800px; border: 1px solid #eee">
            <el-aside width="300px" style="background-color: rgb(238, 241, 246)">
                <img src="https://edu-image.nosdn.127.net/E60240E3F15C33023E8BE744985C91D3.jpg?imageView&thumbnail=510y288&quality=100"
                    width="296">
                <el-menu :default-openeds="['']">
                    <el-submenu v-for="(list,i) in course.infoList" :index="i.toString()">
                        <template slot="title"><i :class="list.icon"></i>{{list.title}}</template>
                        <el-menu-item-group v-for="(item,index) in list.children">
                            <a class="noline" :href="item.href">
                                <el-menu-item :index="item.title">{{item.title}}</el-menu-item>
                            </a>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-container>
                <el-header style=" background-color: rgb(240, 241, 243); font-size: 18px;">
                    <span><i class="el-icon-edit"></i> 测试与作业</span>
                </el-header>
                <hr>
                <el-main>
                    <el-collapse v-model="activeNames" @change="handleChange">
                        <el-collapse-item v-for="(item,index) in test" :name="index">
                            <div slot="title">
                                <span> {{item.title}}</span>&nbsp;&nbsp;
                                <span>
                                    <el-button type="button" size="small" @click="rename(this,item)"><span
                                            class="el-icon-delete"></span> 重命名</el-button>
                                </span>&nbsp;&nbsp;
                                <span>
                                    <el-button type="button" size="small" @click="delTest(this,item)"><span
                                            class="el-icon-delete"></span> 删除</el-button>
                                </span>&nbsp;&nbsp;
                            </div>
                            <el-table :data="item.works" border style="width: 100%">
                                <el-table-column prop="title" label="名称" width="250">
                                </el-table-column>
                                <el-table-column prop="start" label="起始日期" width="250">
                                </el-table-column>
                                <el-table-column prop="end" label="结束日期" width="250">
                                </el-table-column>
                                <el-table-column prop="score" label="分数" width="150">
                                </el-table-column>
                                <el-table-column prop="info" label="备注" width="150">
                                </el-table-column>
                                <el-table-column prop="state" label="状态" width="150">
                                </el-table-column>
                                <el-table-column label="操作" width="300">
                                    <template slot-scope="scope">
                                        <el-button type="button" size="small" @click="showWork(scope)"><span
                                                class="el-icon-eleme"></span> 查看</el-button>
                                        <el-button type="button" size="small" @click="editWork(scope)"><span
                                                class="el-icon-edit-outline"></span> 编辑</el-button>
                                        <el-button type="button" size="small" @click=""><span
                                                class="el-icon-delete"></span> 删除</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </el-collapse-item>
                    </el-collapse>


                    <el-dialog title="题目修改" :visible.sync="dialogFormVisible5">
                        <el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="100px"
                            class="demo-ruleForm">
                        
                            <el-form-item label="作业名称" prop="pass">
                                <el-input type="text" v-model="ruleForm2.title"></el-input>
                            </el-form-item>
                            <el-form-item label="起始时间">
                                <el-col :span="11">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm2.startdate1"
                                        style="width: 100%;"></el-date-picker>
                                </el-col>
                                <el-col class="line" :span="2" style="text-align:center">-------
                                </el-col>
                                <el-col :span="11">
                                    <el-time-picker placeholder="选择时间" v-model="ruleForm2.startdate2"
                                        style="width: 100%;"></el-time-picker>
                                </el-col>
                            </el-form-item>
                            <el-form-item label="结束时间">
                                <el-col :span="11">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm2.enddate1"
                                        style="width: 100%;"></el-date-picker>
                                </el-col>
                                <el-col class="line" :span="2" style="text-align:center">--------
                                </el-col>
                                <el-col :span="11">
                                    <el-time-picker placeholder="选择时间" v-model="ruleForm2.enddate2"
                                        style="width: 100%;"></el-time-picker>
                                </el-col>
                            </el-form-item>
                            <el-form-item :label="ruleForm2.disabled? '可用':'不可用'" prop="disabled">
                                <el-switch v-model="ruleForm2.disabled"></el-switch>
                            </el-form-item>
                            <el-form-item label="备注" prop="info">
                                <el-input v-model.number="ruleForm2.info"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="dialogFormVisible5 = false">提交</el-button>
                                <el-button @click="resetForm2('ruleForm2')">重置</el-button>
                            </el-form-item>
                        </el-form>
                    </el-dialog>


                    <div style="margin-top:20px;">
                        <el-button type="button" size="small" @click="addTest()"><span class="el-icon-plus"></span> 添加章节
                        </el-button>
                    </div>

                    <el-collapse accordion style="margin-top:40px">
                        <el-collapse-item>
                            <template slot="title">
                                添加作业 <i class="header-icon el-icon-info"></i>
                            </template>
                            <div>
                                <el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2"
                                    label-width="100px" class="demo-ruleForm">
                                    <el-form-item label="章节">
                                        <el-select v-model="ruleForm2.test" placeholder="请选择课堂类型">
                                            <el-option v-for="(item,index) in test" :label="item.title" :value="index">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="作业名称" prop="pass">
                                        <el-input type="text" v-model="ruleForm2.name"></el-input>
                                    </el-form-item>
                                    <el-form-item label="起始时间">
                                        <el-col :span="11">
                                            <el-date-picker type="date" placeholder="选择日期"
                                                v-model="ruleForm2.startdate1" style="width: 100%;"></el-date-picker>
                                        </el-col>
                                        <el-col class="line" :span="2" style="text-align:center">---------------------
                                        </el-col>
                                        <el-col :span="11">
                                            <el-time-picker placeholder="选择时间" v-model="ruleForm2.startdate2"
                                                style="width: 100%;"></el-time-picker>
                                        </el-col>
                                    </el-form-item>
                                    <el-form-item label="结束时间">
                                        <el-col :span="11">
                                            <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm2.enddate1"
                                                style="width: 100%;"></el-date-picker>
                                        </el-col>
                                        <el-col class="line" :span="2" style="text-align:center">---------------------
                                        </el-col>
                                        <el-col :span="11">
                                            <el-time-picker placeholder="选择时间" v-model="ruleForm2.enddate2"
                                                style="width: 100%;"></el-time-picker>
                                        </el-col>
                                    </el-form-item>
                                    <el-form-item :label="ruleForm2.disabled? '可用':'不可用'" prop="disabled">
                                        <el-switch v-model="ruleForm2.disabled"></el-switch>
                                    </el-form-item>
                                    <el-form-item label="备注" prop="info">
                                        <el-input v-model.number="ruleForm2.info"></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="primary" @click="submitForm2(ruleForm2)">提交</el-button>
                                        <el-button @click="resetForm2('ruleForm2')">重置</el-button>
                                    </el-form-item>
                                </el-form>
                            </div>
                        </el-collapse-item>
                    </el-collapse>
                </el-main>
            </el-container>
        </el-container>
    </div>
    <script src="../assets/js/courseDatas/teacourse.js"></script>
    <script>

    </script>
</body>

</html>