<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>文档作业</title>
    <!-- Import google fonts - Heading first/ text second -->
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico" type="image/x-icon" />
    <!-- Css files -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/jquery.mmenu.css" rel="stylesheet">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <link href="../assets/css/style.min.css" rel="stylesheet">
    <link href="../assets/css/add-ons.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <style>
        @import url("https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css");

        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #3c1dca;
        }

        .noline:hover {
            text-decoration: none;
        }

        .upload-demo input {
            visibility: hidden;
        }
    </style>

</head>
</head>

<body>
    <div id="app">
        <el-container style=" border: 1px solid #eee">
            <el-header style="text-align: right; font-size: 12px">
                <el-dropdown>
                    <span style="margin-right: 15px;font-size: 20px;"><i class="el-icon-user"></i> {{user}}</span>

                    <el-dropdown-menu slot="dropdown">
                        <a v-for="item in userOptions.order" :href="item.href" class="noline">
                            <el-dropdown-item><i :class="item.icon"></i>{{item.title}}</el-dropdown-item>
                        </a>
                    </el-dropdown-menu>
                </el-dropdown>

            </el-header>
        </el-container>
        <el-container style="height: 800px; border: 1px solid #eee">
            <el-aside width="300px" style="background-color: rgb(238, 241, 246)">
                <img src="https://edu-image.nosdn.127.net/E60240E3F15C33023E8BE744985C91D3.jpg?imageView&thumbnail=510y288&quality=100"
                    width="296">
                <el-menu :default-openeds="['']">
                    <el-submenu v-for="(list,i) in course.infoList" :index="i.toString()">
                        <template slot="title"><i :class="list.icon"></i>{{list.title}}</template>
                        <el-menu-item-group v-for="(item,index) in list.children">
                            <a class="noline" :href="item.href">
                                <el-menu-item :index="item.title">{{item.title}}</el-menu-item>
                            </a>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-container>
                <el-header style=" background-color: rgb(240, 241, 243); font-size: 18px;">
                    <span><i class="el-icon-edit"></i> 文档作业</span>
                </el-header>
                <hr>
                <el-main>
                    <el-table :data="docWorks" style="width: 100%" :default-sort="{prop: 'date', order: 'descending'}">
                        <el-table-column prop="name" label="名称" sortable width="180">
                        </el-table-column>
                        <el-table-column prop="date" label="截止日期" sortable>
                        </el-table-column>
                        <el-table-column label="文件">
                            <template slot-scope="scope">
                                <span v-for="f in  scope.row.file">{{f.name}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column sortable label="状态">
                            <template slot-scope="scope">
                                <el-tag type="success" v-if="scope.row.state">可用</el-tag>
                                <el-tag type="danger" v-else>不可用</el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button type="button" @click=""><span class="el-icon-eleme"></span> 查看</el-button>
                                <el-button type="button" @click="editDocWork(scope.row)"><span
                                        class="el-icon-edit-outline"></span> 编辑
                                </el-button>
                                <el-button type="button" @click=""><span class="el-icon-delete"></span> 删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div style="margin-top:24px;">
                        <el-button type="primary" @click="addDocWork()"><i class="el-icon-circle-plus-outline"></i> 添加作业 </el-button>
                    </div>
                </el-main>

                <el-dialog title="题目编辑" :visible.sync="dialogFormVisible7" width="30%">
                    <el-form :model="docWork" label-width="80px">
                        <el-form-item label="名称">
                            <el-input v-model="docWork.name"></el-input>
                        </el-form-item>

                        <el-form-item label="活动时间">
                            <el-col :span="11">
                                <el-date-picker type="date" placeholder="选择日期" v-model="docWork.date1"
                                    style="width: 100%;"></el-date-picker>
                            </el-col>
                            <el-col class="line" :span="2">-</el-col>
                            <el-col :span="11">
                                <el-time-picker placeholder="选择时间" v-model="docWork.date2" style="width: 100%;">
                                </el-time-picker>
                            </el-col>

                            <div style="float:left;padding:16px 32px;">

    
                                <el-upload class="upload-demo"  drag action="http://127.0.0.1:8080/upload" name = "uploadFile"
                                  :on-remove="handleRemove" :before-remove="beforeRemove" :on-success="handleAvatarSuccess"
                                    :file-list="docWork.file">
                                    <i class="el-icon-upload"></i>
                                    <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                                    <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div>
                                </el-upload>
                            </div>

                        </el-form-item>

                    </el-form>
                    <span slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible7 = false">取 消</el-button>
                        <el-button type="primary" @click="dialogFormVisible7 = false">确 定</el-button>
                    </span>
                </el-dialog>
            </el-container>
        </el-container>
    </div>
    <script src="../assets/js/courseDatas/teacourse.js"></script>
    <script>
        app.docWorks = [
            {
                name: '文案作业一',
                date: '2020/02/09 12:00',
                file: [{ name: 'xx', url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100' }],
                state: true,
                date1: '',
                date2: ''
            },
            {
                name: '文案作业二',
                date: '2020/02/12 16:00',
                file: [{ name: 'xx', url: '../assets/img/logo1.png' }],
                state: false,
                date1: '',
                date2: ''
            }
        ]
    </script>
</body>

</html>