<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>成绩数据分析</title>
    <!-- Import google fonts - Heading first/ text second -->
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico" type="image/x-icon" />
    <!-- Css files -->
    <script src="../assets/js/echarts.js"></script>
    <script src="../assets/js/echarts.min.js"></script>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        @import url("https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css");

        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #3c1dca;
        }

        .noline:hover {
            text-decoration: none;
        }
    </style>

</head>
</head>

<body>
    <div id="app">
        <el-container style=" border: 1px solid #eee">
            <el-header style="text-align: right; font-size: 12px">
                <el-dropdown>
                    <span style="margin-right: 15px;font-size: 20px;"><i class="el-icon-user"></i> {{user}}</span>

                    <el-dropdown-menu slot="dropdown">
                        <a v-for="item in userOptions.order" :href="item.href" class="noline">
                            <el-dropdown-item><i :class="item.icon"></i>{{item.title}}</el-dropdown-item>
                        </a>
                    </el-dropdown-menu>
                </el-dropdown>

            </el-header>
        </el-container>
        <el-container style="height: 800px; border: 1px solid #eee">
            <el-aside width="300px" style="background-color: rgb(238, 241, 246)">
                <img src="https://edu-image.nosdn.127.net/E60240E3F15C33023E8BE744985C91D3.jpg?imageView&thumbnail=510y288&quality=100"
                    width="296">
                <el-menu :default-openeds="['']">
                    <el-submenu v-for="(list,i) in course.infoList" :index="i.toString()">
                        <template slot="title"><i :class="list.icon"></i>{{list.title}}</template>
                        <el-menu-item-group v-for="(item,index) in list.children">
                            <a class="noline" :href="item.href">
                                <el-menu-item :index="item.title">{{item.title}}</el-menu-item>
                            </a>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-container>
                <el-header style=" background-color: rgb(240, 241, 243); font-size: 18px;">
                    <span><i class="el-icon-s-data"></i> 数据分析</span>
                </el-header>
                <hr>
                <el-main>
                    <el-row :gutter="50">
                        <el-col :span="12">
                            <div id="main" style="width: 560px;height:400px;"></div>
                        </el-col>
                        <el-col :span="12">
                            <div id="analys2" style="width: 560px;height:400px;"></div>
                        </el-col>
                    </el-row>
                    <el-row :gutter="50">
                        <el-col :span="12" style="font-size: 18px;background: #9ddcdf;padding: 16px 32px;">
                            <div>提交总数: 62</div>
                            <div>合格人数: 57</div>
                            <div>合格率: 89%</div>
                            <div>最高分: 98</div>
                            <div>最低分: 47</div>
                            <div>平均分: 77.85</div>
                        </el-col>
                        <el-col :span="12"  style="font-size: 18px;background: #8eb7b9;padding: 16px 32px;">
                           前5
                           <div>张三: 98</div>
                           <div>李四: 95</div>
                           <div>王五: 94</div>
                           <div>老李: 93</div>
                           <div>李云祥: 92</div>
                        </el-col>
                    </el-row>
                </el-main>
            </el-container>
        </el-container>
    </div>
    <script src="../assets/js/courseDatas/teacourse.js"></script>
    <script>
        var myChart = echarts.init(document.getElementById('main'));
        var myChart2 = echarts.init(document.getElementById('analys2'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '分数段人数'
            },
            tooltip: {},
            legend: {
                data: ['']
            },
            xAxis: {
                data: ["<60", "60~69", "70~79", "80~89", "90~100"]
            },
            yAxis: {},
            series: [{
                name: '人数',
                type: 'bar',
                data: [5, 12, 30, 7, 8]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        var option2 = {
            title: {
                text: '分布',
                subtext: '第一次测验',
                left: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ['<60', '60~69', '70~79', '80~89', '90~100']
            },
            series: [
                {
                    name: '及格分布',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '50%'],
                    data: [
                        { value: 5, name: '<60' },
                        { value: 12, name: '60~69' },
                        { value: 30, name: '70~79' },
                        { value: 7, name: '80~89' },
                        { value: 8, name: '90~100' },
                    ],
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };



        myChart.setOption(option);
        myChart2.setOption(option2);
    </script>
</body>

</html>