<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>查看课程</title>			
		<!-- Import google fonts - Heading first/ text second -->
		<!-- Favicon and touch icons -->
		<link rel="shortcut icon" href="../assets/ico/favicon.ico" type="image/x-icon" /> 
	    <!-- Css files -->
	    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">		
		<link href="../assets/css/jquery.mmenu.css" rel="stylesheet">		
		<link href="../assets/css/font-awesome.min.css" rel="stylesheet">
		<link href="../assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css" rel="stylesheet">	   
	    <link href="../assets/css/style.min.css" rel="stylesheet">
		<link href="../assets/css/add-ons.min.css" rel="stylesheet">	
        <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
        <script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <style>
            @import url("https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css");
            .itemActive:hover{
                box-shadow: 6px 12px 12px 6px rgba(0, 0, 0, 0.1)
            }
        </style>

	</head>
</head>
<body>
	<!-- start: Header -->
	<div class="navbar" role="navigation">	
		<div class="container-fluid">		
			<ul class="nav navbar-nav navbar-actions navbar-left">
				<li class="visible-md visible-lg"><a href="#" id="main-menu-toggle"><i class="fa fa-th-large"></i></a></li>
				<li class="visible-xs visible-sm"><a href="#" id="sidebar-menu"><i class="fa fa-navicon"></i></a></li>			
			</ul>			
			<form class="navbar-form navbar-left">
				<button type="submit" class="fa fa-search"></button>
				<input type="text" class="form-control" placeholder="搜索..."></a>
			</form>
	        <ul class="nav navbar-nav navbar-right">
                <!--短息消息模块-->
				<li class="dropdown visible-md visible-lg" id="app1">
	        		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope-o"></i><span class="badge">{{message.length}}</span></a>
	        		<ul class="dropdown-menu">
						<li class="dropdown-menu-header">
							<strong>信息</strong>
						</li>
						<li class="avatar" v-for="item in message">
							<a href="../message/inbox.html">
								<img class="avatar" src="../assets/img/avatar1.jpg">
								<div>{{item.title}}</div>
								<small>{{item.date}}</small>
								<span class="label label-info">NEW</span>
							</a>
						</li>
						<li class="dropdown-menu-footer text-center">
							<a href="../message/inbox.html">查看所有信息</a>
						</li>	
	        		</ul>
                  </li>
                <!--系统通知模块-->
				<li class="dropdown visible-md visible-lg" id="app2">
	        		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o"></i><span class="badge">{{message.length}}</span></a>
	        		<ul class="dropdown-menu">
						<li class="dropdown-menu-header">
							<strong>系统通知</strong>
						</li>							
                        <li class="clearfix" v-for="item in message">
							<i class="fa" v-bind:class="item.icon"></i> 
                            <a href="../message/system.html" class="notification-user"> {{item.title}} </a> 
                            <span class="notification-action"> 详细查看 </span> 
                            <a href="../message/system.html" class="notification-link"> {{item.info}}</a>
                        </li>
						<li class="dropdown-menu-footer text-center">
							<a href="../message/system.html">查看所有信息</a>
						</li>
	        		</ul>
                  </li>
                  <!--应用信息模块-->
				<li class="dropdown visible-md visible-lg"id="app3" >
					 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-th"></i></a>					
					<ul class="dropdown-menu update-menu" role="menu">
						<li v-for="item in appInfo"><a v-bind:href="item.href" ><i class="fa" v-bind:class="item.icon"></i> {{item.title}} </a></li>
					</ul>
                </li>
                <!--用户信息模块-->
				<li class="dropdown visible-md visible-lg"id="app4">
	        		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="user-avatar" src="../assets/img/avatar.jpg" alt="user-mail">{{name}}</a>
	        		<ul class="dropdown-menu">
						<li class="dropdown-menu-header">
							<strong>Account</strong>
						</li>						
						<li v-for="item in appInfo"><a v-bind:href="item.href"><i class="fa" v-bind:class="item.icon"></i> {{item.title}} <span class="label" v-bind:class="item.style">{{item.number}}</span></a></li>
						<li class="divider"></li>						
						<li><a href="../index.html"><i class="fa fa-sign-out"></i>返回主界面</a></li>	
	        		</ul>
	      		</li>
				<li><a href="../index.html"><i class="fa fa-power-off"></i></a></li>
			</ul>	
		</div>		
	</div>
	<!-- end: Header -->
	<div class="container-fluid content">
		<div class="row">		
			<!-- 左侧菜单栏 -->
			<div class="sidebar ">
				<div class="sidebar-collapse" id="app5">
					<div class="sidebar-header t-center">
                        <span><img class="text-logo" src="../assets/img/logo1.png"><i class="fa fa-space-shuttle fa-3x blue"></i></span>
                    </div>									
					<div class="sidebar-menu">						
						<ul class="nav nav-sidebar">
							<li v-for="item in functions">
								<a v-bind:href="item.href"><i class="fa" v-bind:class="item.icon"></i><span class="text">{{item.title}}</span> <span class="fa fa-angle-down pull-right"></span></a>
								<ul  class="nav sub" v-if="item.childen.length > 0">
									<li v-for="ch in item.childen"><a v-bind:href="ch.href"><i class="fa" v-bind:class="ch.icon"></i><span class="text"> {{ch.title}}  </span></a></li>
								</ul>	
							</li>
						</ul>
					</div>					
				</div>
				<div class="sidebar-footer">					
					<div class="sidebar-brand">
                        Lumnca
					</div>
					<ul class="sidebar-terms">
						<li><a href="#">版本</a></li>
						<li><a href="#">更新</a></li>
						<li><a href="#">帮助</a></li>
						<li><a href="#">关于</a></li>
					</ul>
				</div>	
		</div>
	</div>						
		<!-- start: Content -->
		<div class="main " id="app">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="fa  fa-book"></i>课程
					</h3>
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="../index.html">主页</a></li>
						<li><i class="fa  fa-book"></i><a href="#">课程</a></li>
						<li><i class="fa   fa-search"></i>浏览</li>				
					</ol>
                </div>
                
            </div>
                <div>
                    <div class="profile panel panel-default itemActive"  v-for="(item,index) in course">
                        <div class="row" style="padding:8px 12px;">
                            <div class="col-lg-4"> 
                                <div class="block">
                                    <el-image :src="item.src">
                                            <div slot="placeholder" class="image-slot">
                                                加载中<span class="dot">...</span>
                                            </div>
                                    </el-image>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <br>
                                <span style="color:#2b998a;"><b>课程名称 : {{item.name}}</b></span>
                                <br><br>
                                <span style="color:#2b998a;"><b>课程教师 : {{item.teacher}}</b></span>
                                <br><br>
                                <span style="color:#2b998a;"><b>课程人数 : {{item.numbers}}</b></span>
                                <br><br>
                                <span style="color:#2b998a;"><b>课程好评 :</b></span>
                                <br><br>
                                <el-rate
                                    v-model="item.level"
                                    disabled
                                    show-score
                                    text-color="#ff9900"
                                >
                                </el-rate>

                            </div>
                            <div class="col-lg-4" style="text-align:right;">
                                <el-container>
                                    <el-header></el-header>
                                    <br><br>
                                    <el-main></el-main>
                                    <br><br>
                                    <el-footer>
                                        <el-button type="success" size="small" @click="openCourse(item.name)">进入课堂&nbsp;&nbsp;<b><i class="fa fa-sign-in"></i></b></el-button>
                                    </el-footer>
                                </el-container>
                                
                            </div>
                        </div>
                    </div>		
            </div>	
        </div>
		<!-- end: Content -->
		<br><br><br>
	
	<div class="clearfix"></div>
	
		
	<!-- start: JavaScript-->
	<!--[if !IE]>-->

			<script src="../assets/js/jquery-2.1.1.min.js"></script>

	<!--<![endif]-->

	<!--[if IE]>
	
		<script src="assets/js/jquery-1.11.1.min.js"></script>
	
	<![endif]-->

	<!--[if !IE]>-->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='assets/js/jquery-2.1.1.min.js'>"+"<"+"/script>");
		</script>

	<!--<![endif]-->

	<!--[if IE]>
	
		<script type="text/javascript">
	 	window.jQuery || document.write("<script src='assets/js/jquery-1.11.1.min.js'>"+"<"+"/script>");
		</script>
		
	<![endif]-->
	<script src="../assets/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="../assets/js/bootstrap.min.js"></script>	
	
	
	<!-- page scripts -->
	<script src="../assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"></script>
	<!-- theme scripts -->
	<script src="../assets/js/SmoothScroll.js"></script>
	<script src="../assets/js/jquery.mmenu.min.js"></script>
	<script src="../assets/js/core.min.js"></script>
	<!-- 自定义脚本-->
    <script src="../assets/js/index.js"></script>
    <script src="../assets/js/couse.js"></script>
</body>
</html>