<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>课程总览</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
    <style>
        @import url("https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css");

        .el-header {
            background-color: rgb(245, 245, 245);
            color: #333;
            text-align: center;
            line-height: 60px;
        }
        .el-footer{
            background-color: #444444;
            color: #eeeeee;
            text-align: center;
            padding: 80px 40px;
        }
        .el-aside {
            background-color: rgb(143, 171, 202);
            color: #333;
            text-align: center;
            line-height: 200px;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            text-align: center;
        }

        body>.el-container {
            margin-bottom: 40px;
        }

        .el-container:nth-child(5) .el-aside,
        .el-container:nth-child(6) .el-aside {
            line-height: 260px;
        }

        .el-container:nth-child(7) .el-aside {
            line-height: 320px;
        }

        .el-carousel__item h3 {
            color: #475669;
            font-size: 14px;
            opacity: 0.75;
            line-height: 150px;
            margin: 0;
        }

        .el-carousel__item:nth-child(2n) {
            background-color: #99a9bf;
        }

        .el-carousel__item:nth-child(2n+1) {
            background-color: #d3dce6;
        }

        .cou:hover{
            background: #03439c;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-container>
            <el-header>
                <el-row :gutter="20">
                    <el-col :span="17">
                        <div>
                            课堂总览
                        </div>
                    </el-col>
                    <el-col :span="5">
                        <el-input v-model="search" placeholder="输入关键字搜索" />
                    </el-col>
                    <el-col :span="1" style="margin-left:-25px;">
                        <el-button icon="el-icon-search" circle></el-button>
                    </el-col>
                    <el-col :span="1" style="float:right;">
                        <div class="grid-content bg-purple">
                            <el-dropdown>
                                <el-avatar :size="60" src="https://empty">
                                    <img src="https://cube.elemecdn.com/e/fd/0fc7d20532fdaf769a25683617711png.png" />
                                </el-avatar>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item>查看信息</el-dropdown-item>
                                    <el-dropdown-item>我的课程</el-dropdown-item>
                                    <el-dropdown-item><a href="../course/lookUpCourse.html">返回</a></el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </div>
                    </el-col>
                </el-row>

            </el-header>
            <el-container>

                <el-container>
                    <el-main>

                        <div class="block">
                            <el-carousel height="360px">
                                <el-carousel-item v-for="item in 4" :key="item">
                                    <h3 class="small">{{ item }}</h3>
                                    <img :src="'../assets/img/browser'+item+'.png'">
                                </el-carousel-item>
                            </el-carousel>
                        </div>


                        <div style="margin-top:40px;">
                            <template>
                                <el-tabs v-model="activeName" @tab-click="handleClick">
                                    <el-tab-pane v-for="c in course" :label="c.name" :name="c.type">
                                        <div>
                                            <br>
                                            <h2>精选直播课</h2> <br>
                                        </div>
                                        <el-row :gutter="20">
                                            <el-col :span="4">
                                                <div class="grid-content bg-purple">&nbsp;</div>
                                            </el-col>
                                            <el-col :span="8">
                                                <div class="block">
                                                    <el-image
                                                        src="https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg">
                                                    </el-image>
                                                    <div>
                                                        还在犹豫什么，该快加入我们把! <el-button type="success" size="mini">立即报名
                                                        </el-button>
                                                    </div>
                                                </div>
                                            </el-col>
                                            <el-col :span="8">
                                                <div style="height: 300px;">
                                                    <el-steps direction="vertical" :active="1">
                                                        <el-step title="12:00" description="这是一段很长很长很长的描述性文字"></el-step>
                                                        <el-step title="14:00" description="这是一段很长很长很长的描述性文字"></el-step>
                                                        <el-step title="17:00" description="这是一段很长很长很长的描述性文字"></el-step>
                                                        <el-step title="19:00" description="这是一段很长很长很长的描述性文字"></el-step>
                                                        <el-step title="20:00" description="这是一段很长很长很长的描述性文字"></el-step>
                                                        <el-step title="22:00" description="这是一段很长很长很长的描述性文字"></el-step>
                                                        <el-step title="21:00" description="这是一段很长很长很长的描述性文字"></el-step>
                                                    </el-steps>
                                                </div>
                                            </el-col>
                                            <el-col :span="4">
                                                <div class="grid-content bg-purple">&nbsp;</div>
                                            </el-col>
                                        </el-row>
                                        <div>
                                            <br>
                                            <h2>精选公开课</h2> <br>
                                        </div>

                                        <el-row :gutter="20">
                                            <el-col :span="4">
                                                <div class="grid-content bg-purple">&nbsp;</div>
                                            </el-col>
                                            <el-col :span="16" style="text-align: left">
                                                <el-row>
                                                    <el-col :span="4" v-for="(o, index) in 5" :key="o"
                                                        :offset="index > 0 ? 1 : 0">
                                                       <div class="cou">
                                                        <el-card :body-style="{ padding: '0px' }">
                                                            <img src="../assets/img/course1.png" class="image" width="200">
                                                            <div style="padding: 14px;">
                                                                <div><span><a href="#">游戏/辅助/开发教程</a></span></div>
                                                                 <div style="color: #bbbbbb;font-size: 12px;"><span>共60节 | 李云祥</span></div>
                                                                <div><span  style="color: #c44040;font-size: 14px;">免费 </span>
                                                                <span style="color: #bbbbbb;font-size: 12px;">最近1258人报名</span>
                                                             </div>
                                                            </div>
                                                        </el-card>
                                                       </div>
                                                    </el-col>
                                                </el-row>
                                            </el-col>

                                            <el-col :span="4">
                                                <div class="grid-content bg-purple">&nbsp;</div>
                                            </el-col>
                                        </el-row>

                                    </el-tab-pane>

                                
                            </template>
                        </div>
                    </el-main>
                    <el-footer>
                            Copyright © 2020 Tencent. All Rights Reserved.
                            <br>
                            XXXX有限公司 版权所有 
                    </el-footer>
                </el-container>
            </el-container>
        </el-container>
    </div>
</body>
<script src="../assets/js/courseShop/index.js"></script>

</html>